*/*/*/.vscode/*
*/*/csharp/bin/*
*/*/csharp/obj/*
*/*/a.out
*/.vscode/*
tools/*
config
.vscode/*
.vs/*
aocUtils/aocUtils.egg-info/*
aocUtils/aocUtils/__pycache__/*
aoc-workspace.code-workspace
CSharp/*/bin/*
CSharp/*/obj/*
